---
layout: default
title: home
---

<div class="content">
  <div id="about">
    <p>
      My name is <span class="bold">Eberhard Gräther</span>.
    </p>
    <p>
      I'm student of master's degree
      in <a href="http://multimediatechnology.at/in-english/">MultiMediaTechnology</a> 
      at <a href="http://www.fh-salzburg.ac.at/en/">Salzburg University of Applied Sciences</a>,
      specializing in Human Computer Interaction.
    </p>
    <p>
      This page contains earlier projects of mine developed during my undergraduate degree,
      where I majored in games.
    </p>
  </div>

  <div id="contact">
    <p>Contact:</p>
    <ul>
      <li>mail: <a href="mailto:mail@egraether.com">mail@egraether.com</a></li>
      <li>twitter: <a href="http://twitter.com/#!/egraether">@egraether</a></li>
      <li>github: <a href="http://github.com/egraether/">egraether</a></li>
      <li>project euler: <a href="http://projecteuler.net/profile/egraether.png">egraether</a></li>
    </ul>
  </div>
  
  <div class="clear"></div>
</div>

<div class="line"></div>

<div class="content">
  <h2>Games</h2>
  <ul class="left">
    {% for post in site.posts %}
      {% if post.type == "game" %}
        <li class="project">
          <a name="{{ post.name }}" href="{{ post.titlelink }}">
            <div class="projectTitle" style="background-image: url(/images/{{ post.name }}_pic.png)">
              <div class="left">{{ post.title }}</div>
                {% if post.note %}
                  <div class="right workInProgress">[{{ post.note }}]</div>
                {% endif %}
              <div class="clear projectLanguage">{ {{ post.language }} }</div>
            </div>
          </a>
          <div class="projectContent">
            {{ post.content }}
          </div>
        </li>
      {% endif %}
      
      {% if forloop.index == 7 %}
        </ul><ul class="left">
      {% endif %}
      
    {% endfor %}
  </ul>
  
  <div class="clear"></div>
  
</div>

<div id="container"></div>

<div class="line"></div>

<div class="content">
  <h2>Demos</h2>
  <ul class="left">
    {% for post in site.posts %}
      {% if post.type == "demo" %}
        <li class="project">
          <a name="{{ post.name }}" href="{{ post.titlelink }}">
            <div class="projectTitle" style="background-image: url(/images/{{ post.name }}_pic.png)">
              <div>{{ post.title }}</div>
              <div class="projectLanguage">{ {{ post.language }} }</div>
            </div>
          </a>
          <div class="projectContent">
            {{ post.content }}
          </div>
        </li>
      {% endif %}
      
      {% if forloop.index == 4 %}
        </ul><ul class="left">
      {% endif %}
      
    {% endfor %}
  </ul>
  
  <div class="clear"></div>
  
</div>

<script type="text/javascript" charset="utf-8" src="demos/lib/requestAnimationFrame.js"></script>
<script type="text/javascript" charset="utf-8" src="demos/life/GameOfLife.js"></script>

<script type="text/javascript" charset="utf-8">

    var life, time = 0;
    
    function run() {
        
        setTimeout( function() {
            
            requestAnimationFrame( run );
            
        }, 100 );
        
        life.update();
        
    };
    
    function start() {
        
        life.reset();
        life.random( 0.08 );
        
    }
    
    window.onload = function() {
        
        var container = document.getElementById( "container" );
        
        life = new GameOfLife( container );
        
        if ( !life ) {
            
            return;
            
        }
        
        window.onresize = function() {
            
            life.setCanvasSize( container.clientWidth, container.clientHeight );
            
            start();
            
        }
        
        life.getCanvas().onmouseup = function(event) {
        
            var newTime = new Date().getTime(),
                diffTime = newTime - time;
            
            if ( diffTime < 200 ) {
                
                window.location = "demos/life/index.html"
            
            } else {
        
                start();
            
            }
            
            time = newTime;
        
        }
        
        life.drawCell = function( context, x, y, size, isLife ) {
        
            var s = size * ( isLife ? 1 : 0.9 ),
                t = ( size - s ) / 2;
        
            context.fillRect( x * size + t, y * size + t, s, s );
        
        };
        
        life.setCellSize( 4 );
        
        life.setLifeColor( 110, 174, 13 );
        life.setDeathColor( 220, 255, 150 );
        life.setClearColor( 255, 255, 255 );
        
        start();
        run();
        
    };

</script>
  